// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@import "bootstrap";

.comment {
	@extend .border, .rounded, .mb-2;
	border-width: 2px;

	.author {
		@extend .text-secondary, .fst-italic, .p-2;

		background: lighten($blue, 45);
		border-bottom: 1px solid lighten($blue, 35);
	}

	.text {
		@extend .p-2;
	}

	p:last-of-type {
		margin-bottom: 0;
	}

	+ .state_change {
		@extend .my-2;
	}
}
